#restore-password-dialog
 .modal-header
  <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
  %h2.modal-title Forgot your password?
 .modal-body
  %p.modal-title2  Enter your e-mail address to receive the new password :
  .restore-password-controller-error
   %p
  = form_tag({:controller=> "access",:action => "restore_email"} , :remote => true ,  :novalidate => "novalidate" , :id => "restore-form") do
   .input-field
    = email_field_tag :email , nil , :placeholder => "Your E-mail address" , :id => "restore-email" , :data => {"validation" => "required email"}
   .form-links
    .col-6.no-right-padding
     = submit_tag 'SEND PASSWORD'  , data: { disable_with: "sending.." }
    .password-link-wrapper
     = link_to " Back to log in screen" , login_path  , {:remote => true, 'data-toggle' =>  "modal",  :id => "have-login"}
  .form-footer
   / %input{type: "button", value: "Cancel",  :class => " cancel form-button","data-dismiss" => "modal"}
   .membership-note 
    %p 
     Not a member yet? 
     = link_to "Create New Account" , new_passionate_path , {:remote => true, 'data-toggle' =>  "modal",:id => "new-account-link-login-form"}
     and join us!
